name: Tests

on:
  pull_request:
    branches: [ main, testpypi ]

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      run_tests: ${{ steps.filter.outputs.src }}
    steps:
      - name: Filter Changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            src:
              - 'src/**'
              - 'tests/**'
              - '.github/workflows/**'

  pytest:
    needs: filter
    if: needs.filter.outputs.run_tests == 'true'
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Run Tests
        run: |
          uv venv
          source .venv/bin/activate
          uv sync
          uv run pytest -q