name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        run: pip install uv

      - name: UV Env
        run: |
          uv venv
          source .venv/bin/activate 

      - name: Install deps
        run: uv pip install -r pyproject.toml

      - name: Install project
        run: uv pip install -e .

      - name: Run tests
        run: uv run pytest -q